:root{
    --font-family:Helvetica;
    --light-color: #fff;
    --light-color-alt:#afb6cd;
    --primary-background-color:#131417;
    --secondary-background-color:#252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--light-color-alt);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base Styles */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* font-size: 10px; */
    font-size: 62.5%;
}
body{
    font-family: var(--font-family);
    font-size:var(--font-size-sm);
    color: var(--secondary-background-color);
    background-color: var(--primary-background-color);
    letter-spacing: .5px;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
    max-height: auto;
}

ul{
    list-style: none;
}

i{
    font-size: var(--font-size-xl);
}

/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-block: 2.5rem;
    margin: 5px;
}

.title{
    font-size: var(--font-size-xl);
    color: var(--light-color);

}

/* Column Styles */
.column {
    float: left;
    display: table;
    width: auto;
    padding: 0 10px;
    margin: 10px;
    
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(247, 245, 245, 0.612); /* "card" effect */
    padding: 1.5rem;
    text-align: center;
    background-color: var(--light-color);
    display: table-cell;
    border: #131417;
  }
@media screen and (max-width: 60px) { 
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  /* Search */

.visible-modal .modal {
    display: block;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Half width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 25%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color:var(--light-color-alt);
    float:right;
    font-size: 28px;
    font-weight: bold;
  }
    .close:hover,
    .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
    }
    /* The Delete Button */
    #delete {
        font-size: var(--font-size-sm);
        display:inline-flex;
        flex-direction: column;
        background-color: var(--light-color);
        
    }
.gameItem{
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.gameItem img{
    width: 100px;
    margin-right: 10px;
}
#add-game-button {
    color: var(--primary-background-color);
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 12px 16px;
    background-color: var(--light-color);
}

#add-game-button.close:hover {
    background-color: var(--secondary-background-color) ;
}
#add-game-button {border-radius: 8px;}

#to-library-button { 
    background-color: var(--light-color-alt);
    border: none;
    color: var(--light-color);
    padding: 8px 16px;
    text-align: center;
    font-size: var(--font-size-sm);
    margin: 4px 2px;
    transition: 0.3s;

}

#to-library-button:hover {
    background-color: var(--secondary-background-color);
    color: var(--hover-dark-color);
}   
#to-library-button {border-radius: 8px;}
#search-button {
    background-color: var(--light-color-alt);
    border: none;
    color: var(--light-color);
    padding: 8px 16px;
    text-align: center;
    font-size: var(--font-size-sm);
    margin: 4px 2px;
    transition: 0.3s;
}

#search-button:hover {
    background-color: var(--secondary-background-color);
    color: var(--hover-dark-color);
}

#search-button{border-radius: 8px;}